/*begin sq styling

minimalistic grayscale theme
by coollertmb
v001

*/

.controller.custom {
    background: url(https://coollertmb.github.io/svg/sq/base.svg);
    width: 500px;
    height: 550px;
}

.custom.disconnected {
    background: url(https://coollertmb.github.io/svg/sq/disconnected.svg);
}

.custom.disconnected div {
    display: none;
}

.custom .triggers {
    width: 312px;
    height: 120px;
    position: absolute;
    left: 94px;
}

.custom .trigger {
    width: 80px;
    height: 120px;
    background: url(https://coollertmb.github.io/svg/sq/trigger.svg);
    opacity: 0;
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
}

.custom .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .bumper {
    width: 80px;
    height: 40px;
    background: url(https://coollertmb.github.io/svg/sq/bumper.svg);
    opacity: 0;
}

.custom .bumpers {
    position: absolute;
    width: 312px;
    height: 40px;
    left: 94px;
    top: 140px;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.left {
    float: left;
}

.custom .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.custom .arrows {
    position: absolute;
    width: 108px;
    height: 36px;
    top: 180px;
    left: 196px;
}

.custom .back, .custom .start {
    background: url(https://coollertmb.github.io/svg/sq/start-select.svg);
    width: 36px;
    height: 36px;
    opacity: 0;
}

.custom .back.pressed, .custom .start.pressed {
    opacity: 1;
}

.custom .back {
    float: left;
    transform: rotate(0deg);
}

.custom .start {
    float: right;
    transform: rotate(180deg);
}

.custom .abxy {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 198px;
    left: 282px;
}

.custom .button {
    position: absolute;
    background: url(https://coollertmb.github.io/svg/sq/abxy.svg);
    width: 48px;
    height: 48px;
    opacity: 0;
}

.custom .button.pressed {
    opacity: 1;
}

.custom .a {
    background-position: 0 0;
    left: 60px;
	bottom: 0px;
}

.custom .b {
    background-position: -48px 0;
    top: 60px;
    right: 0px;
}

.custom .x {
    background-position: -96px 0;
    top: 60px;
    left: 0px;
}

.custom .y {
    background-position: 48px 0;
    left: 60px;
}

.custom .sticks {
    position: absolute;
    width: 408px;
    height: 84px;
    top: 408px;
    left: 92px;
}

.custom .stick {
    position: absolute;
    background: url(https://coollertmb.github.io/svg/sq/stick.svg);
    background-position: -84px 0;
    height: 84px;
    width: 84px;
}

.custom .stick.pressed {
    background-position: 0 0;
}

.custom .stick.left {
    left: 0;
}

.custom .stick.right {
    left: 232px;
}

.custom .dpad {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 198px;
    left: 50px;
}

.custom .face {
    background: url(https://coollertmb.github.io/svg/sq/dpad.svg);
    position: absolute;
    opacity: 0;
}

.custom .face.pressed {
    opacity: 1;
}

.custom .face.up {
    transform: rotate(90deg);
}

.custom .face.down {
    transform: rotate(270deg);
}

.custom .face.left {
    transform: rotate(0deg);
}

.custom .face.right {
    transform: rotate(180deg);
}

.custom.half {
    margin-top: -315px;
}

.custom {
    background: no-repeat center;
}

/*end sq styling*/
